.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    height: 50%;
    width: 50%;
  }